{% extends 'base.html.twig' %}

{% block title %}Cargo Form{% endblock %}

{% block body %}

    <div class="container">
        <h1>Cargo form</h1>
        <div class="row mt-5">
            <div class="col">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
